@import url("../../../styles.css");

.header {
  background-color: var(--dark-blue);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation__link {
  color: var(--white);
}

.navigation__link:nth-child(2) {
  margin: 0 8rem;
}
