/* You can add global styles to this file, and also import other style files */
:root {
  /* Colors */
  --black: #000000;
  --white: #ffffff;
  --dark-blue: #222831;
  --light-blue: #30475e;

  /* fonts */
  --font-roboto: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-roboto);
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h1,
h2,
h3 {
  color: var(--white);
  text-align: center;
}

p {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* Globals */
.button {
  background-color: var(--light-blue);
  padding: 2rem;
  color: var(--white);
  border-radius: 0.5rem;
}
